* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {
    --clr: #222327;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr);
}

.nave {
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nave ul {
    display: flex;
    width: 350px;
    position: relative;
}

.nave ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.nave ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.nave ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5rem;
    text-align: center;
    transition: .5s;
    color: var(--clr);
}

.nave ul li.active a .icon {
    transform: translateY(-35px);
}

.nave ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: bold;
    font-size: .75rem;
    letter-spacing: .05rem;
    transition: .5s;
    opacity: 0;
    transform: translateY(20px);
}

.nave ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicador {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: rgb(34, 152, 255);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: .5s;
}

.indicador::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--clr);
}

.indicador::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--clr);
}

.nave ul li:nth-child(1).active ~ .indicador {
    transform: translateX(calc(70px * 0));
}


.nave ul li:nth-child(2).active ~ .indicador {
    transform: translateX(calc(70px * 1));
}


.nave ul li:nth-child(3).active ~ .indicador {
    transform: translateX(calc(70px * 2));
}


.nave ul li:nth-child(4).active ~ .indicador {
    transform: translateX(calc(70px * 3));
}


.nave ul li:nth-child(5).active ~ .indicador {
    transform: translateX(calc(70px * 4));
}

i {
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent, #fff);
    z-index: 666;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: lluvia 5s linear infinite;
}

i:nth-child(3n+1) {
    background: linear-gradient(transparent, rgb(14, 168, 168));
}

i:nth-child(3n+2) {
    background: linear-gradient(transparent, rgb(146, 235, 146));
}

i:nth-child(3n+3) {
    background: linear-gradient(transparent, rgb(214, 158, 36));
}

@keyframes lluvia {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(calc(100vh + 200px));
    }
}
